body,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd{
    margin:0;
    padding:0;
    list-style:none;
    font-family:Arial, "Microsoft Yahei";
    font-size:14px;
}

a{
    text-decoration: none;
    color:#fff;
}
a:active{
    color:#aaa;
}
img{
    border:none;
}