/*
* @Author: Administrator
* @Date:   2017-04-03 09:52:13
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-11 11:58:11
*/
body{
	width: 100%;
	overflow-x: hidden;
}
.header{
	position: relative;
	background:#fec019;
	width:100%;
	height: 1.4rem;
	box-shadow: 0.03rem 0.03rem 0.2rem #999;
	z-index: 2;
	text-align: center;
}
.header-img{
	margin-top:0.2rem;
	width:2.4rem;
	height:0.9rem;
}
.search{
	width: 7.02rem;
	height: 0.93rem;
	background:#222b34;
	border-radius: 0.1rem;
	position: absolute;
	left: 0.24rem;
	top: 1.1rem;
	z-index: 1;
}
.search input{
	width: 3rem;
	height: 0.49rem;
	position: absolute;
	left: 0.48rem;
	top: 0.22rem;
	background: rgba(0,0,0,0);
	border: 0;
	color: #BFBFC1;
}
.dian{
	width: 0.05rem;
	height: 0.05rem;
	border-radius: 50%;
	position: absolute;
	top: 0.44rem;
}
.dian:nth-child(1){
	background: #fab52a;
	left: 0.22rem;
}
.dian:nth-child(2){
	background: #19b12b;
	left: 0.30rem;
}
.line{
	width: 6.58rem;
	height: 0.02rem;
	background: #ccc;
	position: absolute;
	left: 0.22rem;
	bottom: 0.2rem;
}
.linel{
	width: 0.14rem;
	height: 0.04rem;
	background: #ccc;
	position: absolute;
	left: 0;
	top: -0.01rem;
}
.liner{
	width: 0.14rem;
	height: 0.04rem;
	background: #ccc;
	position: absolute;
	right: 0;
	top: -0.01rem;
}
.yuyin{
	width: 0.77rem;
	height: 0.36rem;
	position: absolute;
	right: 0.23rem;
	top: 0.22rem;
}
.yuyin img{
	width: 100%;
	height: 100%;
}
.top{
	z-index: -1;
	width: 100%;
	height:4.8rem;
	margin: 0;
}
.top .top-img{
	width:100%; //750
    height: 4rem;
}
.hot{
	position: absolute;
	top: 4.8rem;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	text-align: center;
	height: 1.35rem;
}
.hot .top-box{
	position: relative;
	margin: 0 auto;
	width:6.6rem;
	height: 1.35rem;
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0.03rem 0.03rem 0.2rem #bbb;
	z-index: 3;
	font-size: 1rem;
}
.hot .top-box-img{
	float: left;
	width: 1.2rem;
	height: 100%;
	position: relative;
}
.hot .top-box-img img{
	width: 0.86rem;
	height: 0.88rem;
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	margin: auto;
}
.hot .top-box-info{
	padding-left: 0.3rem;
	float: left;
	height: 100%;
	width: 5.1rem;
	text-align: left;
	font-family: "苹方";
}
.hot .top-box-info .top-box-title{
	font-size: 0.3rem;
	font-weight: bold;
	color: #373d44;
}
.hot .top-box-info .top-box-text{
	font-size: 0.2rem;
	color: #71777f;
}
.hot .top-box-info .top-box-line{
	width: 1.03rem;
	height: 0.01rem;
	border-bottom: 0.01rem dotted #e2e2e2;
	margin:0.08rem 0 0.12rem 0;
}
.hot .top-box-info .top-box-message{
	height: 0.3rem;
}
.hot .top-box-info .top-box-message .img{
	float: left;
	width: 1.15rem;
	height: 0.3rem;
	margin-right: 0.38rem;
	position: relative;
}
.hot .top-box-info .top-box-message .img img{
	width: 0.3rem;
	height: 0.3rem;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
}
.hot .top-box-info .top-box-message .img span{
	position: absolute;
	top: 0.04rem;
	left: 0.35rem;
	font-size: 0.12rem;
	color: #c2c2c2;
}
.hot .top-box-info .top-box-message .num{
	float: left;
	width: 0.9rem;
	margin-top: 0;
	margin-left: 0.4rem;
	height: 0.3rem;
	position: relative;
}
.hot .top-box-info .top-box-message .num img{
	width: 0.3rem;
	height: 0.3rem;
	position: absolute;
	top: 0;
}
.hot .top-box-info .top-box-message .num .img1{
	left:0;
}
.hot .top-box-info .top-box-message .num .img2{
	left:0.15rem;
}
.hot .top-box-info .top-box-message .num .img3{
	left:0.3rem;
}
.hot .top-box-info .top-box-message .num .more{
	width: 0.55rem;
	height: 0.3rem;
	background: #189f18;
	border-radius: 0.3rem;
	border:0.02rem solid #fff;
	position: absolute;
	top: 0;
	left:0.45rem;
	text-align: center;
	font: bold 0.2rem/0.3rem "苹方";
	color: #fff;
}
.hot .top-box.box2{
	top:-1.15rem;
	width:6.4rem;
	z-index: 2;
}
.hot .top-box.box3{
	top:-2.3rem;
	width: 6.2rem;
	z-index: 1;
}
.banner{
	width: 100%;
	height: 5rem;
	margin: 0 auto;
	overflow: hidden;
}
.banner-title{
	width: 2.7rem;
	margin: 0 auto;
	margin-top:0.75rem;
}
.banner-box{
	width: 100%;
	height: 3rem;
}
.banner-ad-box{
	width: 6.6rem;
	margin: 0 auto;
	margin-top:0.8rem;
}
.banner-ad{
	width: 3.2rem;
	float: left;
	height: 2.5rem;
}
.banner-ad:nth-child(2){
	margin-left: 0.2rem;
}
.ad-img{
	width: 3.2rem;
}
.ad-title{
	height: 2.6rem;
	position: relative;
	left: 0.1rem;
	top:-2.6rem;
}
.change{
	position: relative;
	width: 100%;
}
.change-title{
	width: 100%;
	height: 1rem;
	text-align: center;
}
.change-title img{
	width: 2rem;
	height: 1rem;
}
.change-box{
	margin-top: 0.2rem;
	width: 100%;
	height: 5rem;
}
.box-body{
	width:33%;
	height: 1.63rem;
	float: left;
	text-decoration: none;
	display: block;
	padding-top: 0.87rem;


}
.box-body p{
	color: #fff;
	font-size: 0.2rem;
	margin-left: 0.4rem;
	text-align: left;

}

.box-body:nth-child(1){
	background: #f5811a;
}
.box-body:nth-child(2){
	background: url(../../images/change1.jpg) no-repeat;
	background-size: 100%;
}
.box-body:nth-child(3){
	background: #f5811a;
}
.box-body:nth-child(4){
	background: url(../../images/change2.jpg) no-repeat;
	background-size: 100%;
}
.box-body:nth-child(5){
	background: #fb4425;
}
.box-body:nth-child(6){
	background: url(../../images/change3.jpg) no-repeat;
	background-size: 100%;
}

