*{
	padding: 0;
	margin: 0;
	list-style: none;
}
html,body,ul,li,p,a{
	padding: 0;
	margin: 0;
	font-family: "苹方";
	list-style: none;
}
/*顶部 start*/
.hby_topbox{
	width: 7.5rem;
	height: 1.44rem;
	background: #FFC019;
	margin-top: 0.4rem;
	text-align: center;
	font-weight: 700;
}
.hby_topbox p:nth-child(1){
	width: 100%;
	padding-bottom: 0;
	font-size: 0.28rem;
	margin-bottom: 0.1rem;
	padding-top: 0.22rem;
	height: 0.28rem;
}
.hby_topbox p:nth-child(2){
	width: 100%;
	padding-top:0;
	font-size: 0.16rem;
}
.hby_dingwei{
	width: 7.02rem;
	height: 0.93rem;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	position: absolute;
	left: 0.24rem;
	top: 1.41rem;
	z-index: 1;
}
.hby_dingwei input{
	width: 3rem;
	height: 0.49rem;
	position: absolute;
	left: 0.48rem;
	top: 0.22rem;
	background: rgba(0,0,0,0);
	border: 0;
	color: #BFBFC1;
}
.hby_dian{
	width: 0.05rem;
	height: 0.05rem;
	border-radius: 50%;
	position: absolute;
	top: 0.44rem;
}
.hby_dian:nth-child(1){
	background: #fab52a;
	left: 0.22rem;
}
.hby_dian:nth-child(2){
	background: #19b12b;
	left: 0.30rem;
}
.hby_line{
	width: 6.58rem;
	height: 0.02rem;
	background: #ccc;
	position: absolute;
	left: 0.22rem;
	bottom: 0.2rem;
}
.hby_linel{
	width: 0.14rem;
	height: 0.04rem;
	background: #ccc;
	position: absolute;
	left: 0;
	top: -0.01rem;
}
.hby_liner{
	width: 0.14rem;
	height: 0.04rem;
	background: #ccc;
	position: absolute;
	right: 0;
	top: -0.01rem;
}
.hby_yuyin{
	width: 0.77rem;
	height: 0.36rem;
	background: #ccc;
	border-radius: 15px;
	position: absolute;
	right: 0.23rem;
	top: 0.22rem;
}
/*顶部 end*/
/*推荐 start*/
.hby_tuijian{
	width: 7.5rem;
	height: 4.4rem;
	background: url(../../images/1.png)no-repeat center;
	background-size:cover;
	background-position: 0 -0.33rem;
	position: relative;
}
.hby_tbox{
	width: 7rem;
	padding-top: 0.8rem;
	color: #fff;
	margin-left: 0.24rem;
	position: relative;
}
.hby_tbox p:nth-child(1){
	font-size: 0.36rem;
}
.hby_tbox p:nth-child(2){
	font-size: 0.23rem;
}
.hby_tbox p:nth-child(3){
	font-size: 0.14rem;
}
.hby_tbox p:nth-child(5){
	font-size: 0.18rem;
	margin-top: 0.23rem;
}
.hby_line1{
	width: 0.74rem;
	height: 0.04rem;
	background: #fff;
	margin-top: 0.1rem;
	position: relative;
	/*position: absolute;
	left: 0;
	top: 2.03rem;*/
}
.hby_dian1{
	width: 0.05rem;
	height: 0.05rem;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	left: 0.78rem;
	top: 0rem;
}
.hby_tbox a{
	display: block;
	margin-top: 0.15rem;
	text-decoration: none;
	color: #FFFFFF;
}
.hby_more{
	width: 0.58rem;
	height: 0.28rem;
	box-sizing: border-box;
	border-radius: 0.12rem;
	border: 0.02rem solid #fff;
	position: relative;
	font-size: 0.16rem;
}
.hby_more p{
	position: absolute;
	left:-0.28rem ;
	top: -0.14rem;
	transform: scale(0.4);
}
.hby_dian2{
	width: 0.05rem;
	height: 0.05rem;
	background: #FFFFFF;
	border-radius: 50%;
	position: absolute;
	left: -0.04rem;
	top: 0.09rem;
}
.hby_dian3{
	width: 0.05rem;
	height: 0.05rem;
	background: #FFFFFF;
	border-radius: 50%;
	position: absolute;
	right: -0.04rem;
	top: 0.09rem;
}
.hby_didian{
	width: 7.5rem;
	height: 0.95rem;
	background: #FFFFFF;
	opacity: 0.9;
	position: absolute;
	left: 0;
	bottom: 0;
}
.hby_kuang{
	width: 0.51rem;
	height: 0.51rem;
	background: #138540;
	margin: 0.22rem 0.24rem;
	border-radius: 0.1rem;
	transform: rotate(30deg);
	position: absolute;
}
.hby_tupian{
	width: 0.51rem;
	height:0.51rem;
	border-radius: 0.1rem;
	background: url(../../images/3.png)no-repeat center;
	transform: rotate(0deg);
	position: absolute;
	left: 0.24rem;
	top: 0.21rem;
}
.hby_didian p:nth-child(3){
	font-size: 0.32rem;	
	margin-left: 1rem;
	margin-top: 0.1rem;
	font-weight: bold;
}
.hby_didian p:nth-child(4){
	font-size: 0.22rem;	
	margin-left: 1rem;
	font-weight: bold;
	color: #333;
}
.hby_circlebox{
	width: 1.3rem;
	height: 0.5rem;
	position: absolute;
	right: 0.35rem;
	top: 0;
}
.hby_circle{
	width: 0.24rem;
	height: 0.24rem;
	border-radius: 50%;
	background: #FFFFFF;
	margin-top: 0.22rem;
	box-shadow:  0 0 5px rgba(0,0,0,0.3);
}
.hby_difang{
	font-size: 0.12rem;
	position: absolute;
	left: 0.24rem;
	top: 0.17rem;
}
/*推荐 end*/
/*楼层 start*/
.hby_floor{
	width: 7.5rem;
	height: 3.8rem;
	background:url(../../images/2.png) no-repeat center;
	background-size:cover ;
	position: relative;
	text-align: center;
	margin-bottom: 0.12rem;
}
div.hby_floor2{
	background: url(../../images/5.png)no-repeat center;
	background-size:cover ;
}
div.hby_floor2 .hby_title{
	background: rgba(42,143,189,0.8);
}
div.hby_floor2 .hby_titlecenter{
	background: #0683b1;
}
div.hby_floor2 .hby_add{
	background: #0683b1;
}
div.hby_floor3{
	background: url(../../images/6.png)no-repeat center;
	background-size:100% 100% ;
}
div.hby_floor3 .hby_titlecenter{
	background: #b10670;
}
div.hby_floor3 .hby_title{
	background: rgba(184,18,116,0.8);
}
div.hby_floor3 .hby_add{
	background: #b10670;
}
div.hby_floor4{
	background: url(../../images/7.png)no-repeat center;
	background-size:100%;
}
div.hby_floor4 .hby_title{
	background: #f7c12d;
}
div.hby_floor4 .hby_titlecenter{
	background: #ffc019;
}
div.hby_floor4 .hby_add{
	background: #ffc019;
}
.hby_title{
	width: 6.12rem;
	height: 0.52rem;
	position: absolute;
	left: 0.68rem;
	top:0.22rem;
	border-radius: 0.06rem;
	background: rgba(67,213,18,0.8);
	overflow: hidden;
}
.hby_titleleft{
	width: 33.3333%;
	height: 100%;
	float: left;
	background: url(../../images/4.png)no-repeat center;
	background-size:cover ;
}
.hby_titlecenter{
	width: 33.3333%;
	height: 100%;
	float: left;
	background: #43d512;
	font-size: 0.28rem;
	text-align: center;
	line-height: 0.52rem;
	color: #FFFFFF;
	position: relative;
}
.hby_titleright{
	width: 33.3333%;
	height: 100%;
	float: left;
	background: url(../../images/yanjing.png)no-repeat 0.27rem 0.13rem;
	background-size:cover;
	position: relative;
}
.hby_titleright span{
	font-size: 0.2rem;
	position: absolute;
	left: 0.68rem;
	top: 0.1rem;
	color:#fff;
}
.hby_floor p{
	font-size: 0.32rem;
	font-weight: 700;
	color: #FFFFFF;
}
.hby_floor p.hby_one{
	padding-top: 1.45rem;
}
.hby_floor p:nth-last-child(1){
	font-size: 0.4rem;
}
.hby_add{
	width: 1.04rem;
	height: 0.45rem;
	border-radius: 2rem;
	background: #50c013;
	margin:0.13rem auto;
	border: 2px solid #FFFFFF;
	font-size: 0.36rem;
	font-weight: 700;
	text-align: center;
	line-height: 0.45rem;
	color: #FFFFFF;
}
/*楼层 end*/
/*底部 start*/
/*.hby_dibu{
	width: 7.5rem;
	height: 0.96rem;
	background: #2e3641;
	position: absolute;
	left: 0;
	bottom: 0;
}*/
/*底部 end*/