*{
	padding: 0;
	margin: 0;
	list-style: none;
}
html,body,ul,li,p,a{
	padding: 0;
	margin: 0;
	font-family: "苹方";
	list-style: none;
}
/*顶部 start*/
.topbox{
	width: 7.5rem;
	height: 1.44rem;
	background: #FFC019;
	margin-top: 0.4rem;
	text-align: center;
	font-weight: blod;
}
.topbox p:nth-child(1){
	width: 100%;
	margin-bottom: 0.1rem;
	padding-top: 0.22rem;
	text-align: center;
	font-size: 0.28rem;
	height: 0.28rem;
}
.topbox p:nth-child(2){
	width: 100%;
	font-size: 0.16rem;
}
.dingwei{
	width: 7.02rem;
	height: 0.93rem;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	position: absolute;
	left: 0.24rem;
	top: 1.41rem;
	z-index: 1;
}
.dingwei input{
	width: 3rem;
	height: 0.49rem;
	position: absolute;
	left: 0.48rem;
	top: 0.22rem;
	background: rgba(0,0,0,0);
	border: 0;
	color: #BFBFC1;
}
.dian{
	width: 0.05rem;
	height: 0.05rem;
	border-radius: 50%;
	position: absolute;
	top: 0.44rem;
}
.dian:nth-child(1){
	background: #fab52a;
	left: 0.22rem;
}
.dian:nth-child(2){
	background: #19b12b;
	left: 0.30rem;
}
.line{
	width: 6.58rem;
	height: 0.02rem;
	background: #ccc;
	position: absolute;
	left: 0.22rem;
	bottom: 0.2rem;
}
.linel{
	width: 0.14rem;
	height: 0.04rem;
	background: #ccc;
	position: absolute;
	left: 0;
	top: -0.01rem;
}
.liner{
	width: 0.14rem;
	height: 0.04rem;
	background: #ccc;
	position: absolute;
	right: 0;
	top: -0.01rem;
}
.yuyin{
	width: 0.77rem;
	height: 0.36rem;
	background: #ccc;
	border-radius: 15px;
	position: absolute;
	right: 0.23rem;
	top: 0.22rem;
}
/*顶部 end*/
/*详情 start*/
.xiangqing{
	width:7.5rem;
	height: 100%;
	background: linear-gradient(#fbfbfb,#f0eeef);
	position: relative;
}
.box{
	padding-top: 0.73rem;	
	padding-left: 0.14rem;
	position: absolute;
}
.list{
	width: 3.45rem;
	height: 5.75rem;
	border-radius: 0.1rem;
	box-shadow: 0 0 0.15rem rgba(0,0,0,0.3);
	background: #FFFFFF;
	float: left;
	margin-left: 0.1rem;
}
.list p{
	font-size: 0.32rem;
	font-weight: blod;
	padding-left: 0.22rem;
}
.list p:nth-child(3){
	font-size: 0.22rem;
	font-weight: 500;
}
.bg{
	display: block;
	width: 100%;
	height: 3.5rem;
}
.list div{
	font-size: 0.28rem;
	margin-left: 0.24rem;
	color: #cacaca;
}
.list p.price{
	color: #ec1747;
	font-size: 0.32rem;
	font-weight: 700;
}
.price span{
	font-size: 0.22rem;
	padding-left: 0.03rem;
}
.price span.xihuanrenshu{
	color: #707781;
	font-size: 0.22rem;
}
.price span.taoxin{
	font-size: 0.22rem;
	padding-left: 0.2rem;
}
.shoucang{
	width: 1.38rem;
	height: 0.46rem;
	border: 2px solid #fcc219;
	border-radius: 2rem;
	text-align: center;
	line-height: 0.46rem;
}
/*详情 end*/